.box{
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
    position: relative;
}
.box:nth-child(1){
    background-color: rgb(255, 153, 153);
}
.box:nth-child(2){
    background-color: rgb(149, 149, 246);
    z-index: 1;
    position: relative;
    top: 100px;
    left: -60px;
}
.box:nth-child(3){
    background-color: rgb(138, 219, 138);
    position: relative;
    top: 210px;
    left: -120px;
}

